section.showarea1 {
    background-color: #FF00FF; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 100px;
    position: absolute; width: 350px; height: 600px; border: 5px solid #000000;
    }
section.showarea2 {
    background-color: #00FF00; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 100px;
    position: absolute; width: 350px; height: 600px; border: 5px solid #000000;
    }
section.showarea3 {
    background-color: #FFFF00; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 600px;
    position: absolute; width: 250px; height: 600px; border: 5px solid #000000; 
    }
body {
    background-color: #000080; visibility: visible;padding-bottom: inherit;
}
h1 {
    position: relative; text-align: center; font-weight: bold;
}
footer{
    position: static;
    float:  inherit;
    width: 100%;
    background-color: #FF0000;
    text-align: center;
    font-style: italic;
    bottom: 0;
}